/* wrapper */
.twitvid {
  border: 0;
  margin: 0;
  padding: 0;
}
.twitvid table {
  border: 0;
  margin: 0;
}
.twitvid input {
  display: none;
  width: 275px;
}
.twitvid small,
.twitvid small a:active,
.twitvid small a:link,
.twitvid small a:hover,
.twitvid small a:visited {
  text-decoration: none !important;
  text-transform: lowercase;
  text-decoration: none !important;
  background: none !important;
  color: #aaa !important;
  border: 0;
  padding: 0;
  margin: 0;
  font-weight: normal;
  text-decoration: none;
  font-size: 9px;
}